div.auroraBackdrop {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0);
  will-change: transform;
}

@supports not (
  (-webkit-backdrop-filter: none) or (backdrop-filter: none)
) {
  div.auroraBackdrop {
    background: rgba(255, 255, 255, 0.8);
  }
}
