div.bubbleItem {
  width: 50%;
  height: 50%;
  display: flex;
  border-radius: 30% 80% 75% 40% / 40% 40% 70% 50%;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: bubbleMovement;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0);
  will-change: transform;
}

@keyframes bubbleMovement {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 60%;
    transform: scale(2) rotate(0deg) translate(10%, 10%);
  }
  100% {
    border-radius: 88% 10% 22% 58% / 73% 56% 34% 77%;
    transform: scale(2) rotate(180deg) translate(10%, -10%);
  }
}
